<!DOCTYPE HTML>
<html>
<head>
<title>login in</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--使用webkit内核-->
	<meta name="renderer" content="webkit">
	<link href="/css/public/login.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<body>
<div class="login">
	<h2>计算机应用基础自主学习与考试系统</h2>
	<div class="login-top">
		<h1>登录</h1>
			<input type="text" value="" placeholder="请输入账号" autocomplete="new-password" id="username" maxlength="15">
			<input type="password" value="" placeholder="请输入密码" autocomplete="new-password" id="password" maxlength="18">
	    <div class="forgot">
			<span id="showmessage"></span>
			<button onclick="sub()">登录</button>
	    </div>
	</div>
	<div class="login-bottom">
	</div>
</div>	

</body>
<script src="/javascripts/public/jquery.min.js"></script>
<script src="/javascripts/public/md5.js"></script>
<script src="/javascripts/public/login.js"></script>
</html>
