<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>增加班级</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public/style.css">
    <link rel="stylesheet" href="/css/classes/questionstable.css">
</head>
<body>
<div class="contentbox">
    <blockquote class="layui-elem-quote">
        <span class="questiontitle">添加班级：</span>
    </blockquote>
    <form class="layui-form formcenter1" action="">
        <div class="layui-form-item">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">班级名称</label>
                <div class="layui-input-block">
                    <input type="text" name="classes" maxlength="25" value="" autocomplete="off" placeholder="请输入班级名称" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">学生人数</label>
                <div class="layui-input-block">
                    <input type="text" name="num" value="" lay-verify="number" placeholder="输入大于0的正整数" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-item">
                <label class="layui-form-label">联系电话</label>
                <div class="layui-input-block">
                    <input type="text" name="phone" maxlength="25" lay-verify="tel"  value="" placeholder="输入电话" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    <script src="/layui/layui.js" charset="utf-8"></script>
    <script src="/javascripts/school/adduser.js"></script>
</div>
</body>
</html>