<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>组织测试</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public/style.css">
    <link rel="stylesheet" href="/css/admin/questionstable.css">
</head>
<body>
<div class="contentbox">
    <blockquote class="layui-elem-quote">
        <span class="questiontitle">填写测试信息：</span>
    </blockquote>
    <form class="layui-form formcenter1" action="">
        <input type="hidden" name="classesId" value="<%= resdata.id%>">
        <div class="layui-form-item">
            <label class="layui-form-label">测试类型</label>
            <div class="layui-input-block">
                <input type="radio" name="gradeId" value="1" title="一级" checked="">
                <input type="radio" name="gradeId" value="2" title="二级">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">组卷方式</label>
            <div class="layui-input-block">
                <input type="radio" name="chooseType" value="0" title="随机组卷" checked="">
                <input type="radio" name="chooseType" value="1" title="自定义组卷">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">测试名称</label>
                <div class="layui-input-block">
                    <input type="text" name="name" maxlength="25" value="" lay-verify="content" autocomplete="off" placeholder="请输入测试简称" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">开始日期</label>
                <div class="layui-input-block">
                    <input type="text" name="startTime" id="date1" lay-verify="time" placeholder="选择开始日期" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">截止日期</label>
                <div class="layui-input-block">
                    <input type="text" name="endTime" id="date" value="" lay-verify="time" placeholder="选择结束日期" autocomplete="off" class="layui-input">
                </div>
            </div>
            <!--<p class="examTitle">提示：考试开始时间应该大于当前时间，并结束时间大于开始时间</p>-->
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1">确定</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    <script src="/layui/layui.js" charset="utf-8"></script>
    <script src="/javascripts/classes/addrecord.js"></script>
</div>
</body>
</html>