<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>后台管理页面</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public/style.css">
    <link rel="stylesheet" href="/css/classes/questionstable.css">
</head>
<body>
<div class="contentbox">
    <blockquote class="layui-elem-quote">
        <span class="questiontitle">个人信息：</span>
        <a href="/school/personal/information" class="layui-btn layui-btn-normal">查看个人信息</a>
        <a href="/school/personal/information/updatapsw" class="layui-btn layui-btn-primary">修改密码</a>
    </blockquote>
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block">
                    <input type="text" name="username" disabled value="<%= updatadata.username%>" autocomplete="off" placeholder="请输入用户名" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">学校名称</label>
                <div class="layui-input-block">
                    <input type="text" name="name" maxlength="25" value="<%= updatadata.name%>" autocomplete="off" placeholder="请输入姓名" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">电话</label>
                <div class="layui-input-inline">
                    <input type="text" name="phone" lay-verify="tel" value="<%= updatadata.phone%>" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <!--username  name school schoolAbbreviation school phone  startTime stopTime  loginTime-->
        <input type="hidden" name="id" value="<%= updatadata.id%>">
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    <script src="/layui/layui.js" charset="utf-8"></script>
    <script src="/javascripts/school/seeperson.js"></script>
</div>
</body>
</html>