<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>table模块快速使用</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public/style.css">
    <link rel="stylesheet" href="/css/classes/questionstable.css">
</head>
<body>
<div class="contentbox">
    <blockquote class="layui-elem-quote">
        <span class="questiontitle">个人信息：</span>
        <a href="/school/personal/information" class="layui-btn layui-btn-primary">查看个人信息</a>
        <a href="/school/personal/information/updatapsw" class="layui-btn layui-btn-normal">修改密码</a>
    </blockquote>
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block">
                    <input type="text" maxlength="25" value="<%= updatadata.username%>" disabled autocomplete="off" placeholder="请输入用户名" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-block">
                    <input type="password" name="password" id="psw1" lay-verify="pass" placeholder="请输入密码" autocomplete="new-password" class="layui-input">
                    <div class="layui-form-mid layui-word-aux">请填写6到15位密码</div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-block">
                    <input type="password" name="password" id="psw2" lay-verify="pass" placeholder="请输入密码" autocomplete="new-password" class="layui-input">
                    <div class="layui-form-mid layui-word-aux">请填写6到15位密码</div>
                </div>

            </div>
        </div>


        <input type="hidden" name="id"  value="<%= updatadata.id%>" class="layui-input">

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    <script src="/layui/layui.js" charset="utf-8"></script>
    <script src="/javascripts/school/updatapsw.js"></script>
</div>
</body>
</html>